body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Verdana', sans-serif;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  position: relative;
  text-align: center;
}

/* Pseudo-element for the background image */
body::before {
  background-attachment: fixed;
  background-image: url('../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: grayscale(65%); /* Apply grayscale effect (100% is full grayscale) */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; /* Place it behind the content */
}

h1 {
  background-color: #C2E5D3;
  border-radius: 25px;
  color: #c71585;
  display: inline-block;
  font-family: 'Happy Monkey', cursive;
  font-size: 48px;
  padding: 10px 30px;
}

.emoji-container {
  background-color: #ffffcc;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  width: 80vw;
}

.emoji {
  font-size: 22px;
  margin: 5px;
  width: calc(5% - 10px); /* Make a 20 x 5 grid and subtract 10px for margin */
}

.cards-container {
  display: flex;
  flex-direction: row;
}

.monkey-container {
  background-color: #C2E5D3;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #8b008b;
  flex: 1;
  font-family: 'Happy Monkey', cursive;
  font-size: 24px;
  margin: 10px 5px;
  padding: 30px;
}

.monkey-emoji {
  font-size: 48px;
}

.strong {
  font-weight: bold;
}

.monkey-details {
  text-align: left;
}

.game-stats {
  background-color: #ffcccc;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #8b008b;
  flex: 1;
  font-family: 'Happy Monkey', cursive;
  font-size: 32px;
  font-weight: bold;
  margin: 10px 5px;
  padding: 30px;
  text-align: center;
}

.winner-text {
  letter-spacing: 8px;
  margin: 20px;
}

.monkey-victory-name {
  color: #c71585;
  font-size: 22px;  
  font-weight: lighter;
}

.monkey-victory-message {
  color: #c71585;
  font-size: 22px;  
  font-style: oblique;
  font-weight: bold;
}

.game-stats ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 400px;
  text-align: justify;
}

.game-stats li {
  font-size: 26px;
}

button {
  background-color: #c71585;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Happy Monkey', cursive;
  font-size: 24px;
  padding: 10px 15px;
}

button:hover {
  background-color: #8b008b;
}

footer {
  background-color: rgba(255, 255, 204, 0.8); /* Adjust the alpha value to control transparency */
  bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #8b008b;
  font-family: 'Happy Monkey', cursive;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  letter-spacing: 2px;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}